body{
    margin: 0;
    padding: 0;
    text-align: center;
    color:antiquewhite;
}

.header{
    padding: 10px 0;
}

.button {
    border-color: #34495e;
    background-color:#34495e;
    color: antiquewhite;
    width: 100px;
    height: 40px;
    font-size: 18px;
    border-radius: 5px;
}

.button:hover {
    opacity: .9;
}
.password{
    background-color: lightyellow;
    color: black;
    border-radius: 3px;
    padding: 15px 20px;
    width: 200px;
    height: 30px;
    font-size: 18px;
}
.inputbox{
    font-size: 20px;
}
.modifyinfo{
    margin-left: 43%;
    width: 220px;
    height: auto;
    text-align: center;
}
.error{
    text-align: center;
    color: red;
}
