/*头部css*/
div.head {
	position: relative;
	width: 100%;
	height: 80px;
}

div.head_left {
	position:relative;
	height: 80px;
	width: 30%;
	float: left;
}

div.head_center {
	position: relative;
	height: 80px;
	width: 40%;
	float: left;
}

div.head_right {
	position: relative;
	height: 80px;
	width: 30%;
	float: left;
}

#title {
	width: 100%;
	position: relative;
	color: #4CAF50;
	text-align: center;
}

#line_l {
	position:relative;
	margin-top: 70px;
}

#line_r {
	position:relative;
	margin-top: 70px;
}


/*body_CSS*/
div.body {
	position: relative;
	width: 100%;
	height: 50%;
	margin-top: 90px;
}

div.table_one {
	width: 80%;
	height: 100%;
	margin-top: 40px;
	border: 0px solid green;
	padding: 0px;
	margin: auto;
}

/*信息css*/
.table_info {
	width: 85%;
	color: aqua;
	border: 0px solid green;
	padding: 0px;
	margin: auto;
}

div.title {
	color: aqua;
}

/*bottom_CSS*/
div.bottom {
	width: 100%;
	height: 200px;
	margin-top: 100px;
	text-align: center;
	color: #47B082;
	font-size: 30px;
}

div.bottom_center {
	color: red;
	margin-top: 180px;
}

/*fixed-------*/
.function {
	position: fixed;
	top: 30px;
	left: 5px;
	width: 80px;
	height: 40px;
	background-color: #446847;
	text-align: center;
	color: white;
}
.refresh{
	position: fixed;
	top: 30px;
	left: 85px;
	width: 80px;
	height: 40px;
	background-color: #446847;
	text-align: center;
	color: white;
}
.save{
	position: fixed;
	top: 30px;
	left: 85px;
	width: 80px;
	height: 40px;
	background-color: #446847;
	text-align: center;
	color: white;
}
.submit{
	position: fixed;
	top: 30px;
	left: 165px;
	width: 80px;
	height: 40px;
	background-color: #446847;
	text-align: center;
	color: white;
}
#sideMenu {
	display: none;
}

#list {
	/*侧边栏,初始位置为-200px，即隐藏效果*/
	position: fixed;
	top: 20%;
	bottom: 20%;
	left: -150px;
	width: 150px;
	background-image: url(../images/na_back.jpg);
	transition: 0.2s ease-out;
	/*动画效果的执行方式是ease-out，即侧边栏滑动效果为渐变式，而不是生硬的突然变化*/
}

h2 {
	position: absolute;
	color: white;
	text-align: center;
	font-size: 2em;
}

#sideul {
	position: absolute;
	list-style: none;
	color: white;
	width: 100%;
	height: 1.8em;
	font-size: 1.5em;
	margin-top: 80px;
	margin-right: 50px;
}
body{
	background:url(../images/pro_back.jpg);
}
.title{
	color: #00ff6b;
}