.line{
    color: #00ff6b;
    margin-left: 300px;
    margin-right: 300px;
}
.form-control{
    width: 90%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn_btn-primary{
    width: 40%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.btn_btn-primary {
    background-color: #45a049;
}
.table_info{
    width: 70%;
    margin-left:200px;
}
.form-group{
    width: 60%;
    margin-left: 300px;
    color: #000000;
    font-weight:bold;
}
.notice{
    text-align: center;
}
.btn_commit{
    width: 40%;
    background-color: #446847;
    color: white;
    padding: 14px 60px;
    margin: 8px 500px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
