<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>SoftwareEngineering</display-name>
  <servlet>
    <servlet-name>RegistrarServlet</servlet-name>
    <servlet-class>Controller.RegistrarServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>Controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrarServlet</servlet-name>
    <url-pattern>/RegistrarServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProfessorServlet</servlet-name>
    <servlet-class>Controller.ProfessorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfessorServlet</servlet-name>
    <url-pattern>/ProfessorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GradesServlet</servlet-name>
    <servlet-class>Controller.GradesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradesServlet</servlet-name>
    <url-pattern>/GradesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OpenRegisServlet</servlet-name>
    <servlet-class>Controller.OpenRegisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OpenRegisServlet</servlet-name>
    <url-pattern>/OpenRegisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>Controller.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/StudentServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <!-- 配置默认的session有效时间，单位：分钟 -->
    <session-timeout>1</session-timeout>
  </session-config>
  <listener>
    <listener-class>Listener.OnLineListener</listener-class>
  </listener>
  <filter>
    <filter-name>GlobalFilter</filter-name>
    <filter-class>Filter.GlobalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GlobalFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>JspFilter</filter-name>
    <filter-class>Filter.JspFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JspFilter</filter-name>
    <url-pattern>/jsp/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>